.container {
    display: flex;
    align-items: center;
    margin-left: 54px;
    cursor: pointer;
    margin-top: 35px;
}

.checkboxContainer {
    margin-right: 25px;
}

.text {
    font-size: 35px;
    color: #fff;
}