.container {
    display: flex;
    justify-content: flex-start;
    margin: 15px 0;
}

.textContainer {
    display: inline-block;
    border-radius: 10px;
    padding: 20px 30px;
    max-width: 70%;

    font-size: 20px;
}

.userTextContainer {
    background-color: #A6D8F0;
    color: #181C4F;
    align-self: flex-end;
    margin-left: auto;
    margin-right: 38px;
}

.neuroTextContainer {
    background-color: #E0E0E0;
    color: #181C4F;
    margin-right: auto;
    margin-left: 38px;
}
