.container {
    margin-top: 39px;
}

.arrowCheckboxContainer {
    display: flex;
}

.arrow {
    margin-right: 25px;
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    cursor: pointer;
}

.checkboxContainer {
    margin-right: 25px;
}

.text {
    font-size: 35px;
    color: #fff;
}

.checkbox {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.itemCheckboxContainer {
    margin-left: 78px;
}