.emptyMessageContainer {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.emptyMessage {
    font-size: 30px;
}

.message {
    font-size: 100px;
}

.messagesContainer {
    height: 819px;
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    overflow-y: auto;
}